In [25]:
import mysql.connector as connector

## Task 1

### Establish connnection

In [26]:
# Establish connection between Python and MySQL database via connector API
connection = connector.connect(
                             user = "root", # use your own
                             password = "success", # use your own
                            )

In [27]:
# Create cursor object to communicate with entire MySQL database
cursor = connection.cursor()

### Select the database

In [28]:
#Use the database
cursor.execute("""USE littlelemondb""")

## Task 2

### Show all tables within database

In [29]:
show_tables_query = "SHOW tables" 
cursor.execute(show_tables_query)

In [30]:
# Fetch records 
results = cursor.fetchall()
print(results)

[('bookings',), ('customers',), ('employees',), ('menu',), ('menuitems',), ('orders',), ('ordersview',)]

## Task 3

In [31]:
join_query = """
SELECT C.CustomerID, FullName, OrderID, TotalCost AS BillAmount
FROM Orders O
INNER JOIN Customers C ON C.CustomerID = O.CustomerID
WHERE TotalCost > 60;
"""

cursor.execute(join_query)

In [32]:
# Fetch records 
results = cursor.fetchall()

# Retrieve column names
columns = cursor.column_names

# Print column names
print(columns)

# Print query results
for result in results:
    print(result)

('CustomerID', 'FullName', 'OrderID', 'BillAmount')
(1, 'Andrey Walter', 1, 168)
(3, 'Salvador Tom', 2, 200)
(5, 'Elena Tim', 3, 500)
(2, 'Pelligrini Stones', 4, 150)